@model p.Database.Concrete.Entities.Picture

<p>Description : @Model.Description</p>
                    <p>Category : @Model.Category.Name</p>
                    <p>Nices : @Model.PhotographerNice.Count</p>
                    <p>Views : @Model.Views</p>
 <p>Album: @Model.Album.Name</p>